details {
    display: block;
    padding-block: 0.25rem;
}
details>summary {
    padding-left: 1.75rem;
    list-style: none;
    display: block;
}
details[open] summary:after {
    display: block;
  }
  
/*Styles below are meant to style site similarly to Zendesk and DocFX sites as of summer 2024*/

/*Site-wide color variable settings*/
.pdoc {
    --text: #000;
    --muted: #6c757d;
    --link: #223152;
    --link-hover: #058CE8;
    --code: #f8f8ff; /*based on docco theme*/
    --active: #cdeafe;
    --accent: #eee;
    --accent2: #c1c1c1;
    --nav-hover: rgba(255, 255, 255, 0.5);
    --name: #058CE8;
    --def: #954121; /*based on docco theme*/
    --annotation: #007020;
}
/*Side nav bar*/
nav.pdoc{
	border-right: none;
	box-shadow: none;
	background-color: #fff;
	scrollbar-color: auto;
}
/*Page headers*/
h1.modulename {
    color: #223152;
}
h2 {
	color: #058CE8;
}

/* Code Syntax Highlighting
* Pdoc handles code syntax highlighting on its own where all the others use highlight.js
* instead of overriding it with highlight.js, I will just adjust the colors to match the docco theme we use.
* It won't be one to one because pdoc uses some classes too generically (looking at you .n) but it should be pretty close
*/
.pdoc-code .kn { /*from, import, etc. -- .hljs-keyword*/
    color: #954121;
    font-weight: normal;
}
.pdoc-code .k { /*def, if, for, etc. -- hljs-keyword*/
    color: #954121;
    font-weight: normal;
}
.pdoc-code .ow { /*is, not -- hljs-keyword*/
    color: #954121;
    font-weight: normal;
}
.pdoc-code .kc { /*None -- hljs-keyword*/
    color: #954121;
    font-weight: normal;
}
.pdoc .name { /*Method name on accordion*/
    color: #458;
    font-weight: normal;
}
.pdoc-code .nf { /*method names -- hljs-title*/
    color: #458;
	font-weight: 700;
}
.pdoc-code .nc { /*Class names -- hljs-title*/
    color: #458;
	font-weight: 700;
}
.pdoc-code .fm { /*__getitem__, __iter__, etc. -- */
    color: #458;
	font-weight: 700;
}
.pdoc-code .nb { /*list, int, etc. -- .hljs-built_in*/
    color: #0086b3;
}
.pdoc .annotation { /*The above in accordions -- .hljs-built_in*/
    color: #0086b3;
}
.pdoc-code .sd { /*comments -- .hljs-string*/
    color: #219161;
    font-style: normal;
}
.pdoc-code .s1 { /*String text -- .hljs-string*/
    color: #219161;
    font-style: normal;
}
.pdoc-code .mi { /*enum values -- .hljs-string*/
    color: #219161;
}
.pdoc-code .bp { /*self -- .hljs-params*/
    color: blue;
}
.pdoc-code .nd { /*@property, @overload, etc. -- .hljs-meta*/
    color: #999;
    font-weight: 700;
}
.pdoc-code .ne { /*Errors - no hljs equivalent, just black text*/
    color: #000;
    font-weight: normal;
}
.pdoc-code .nn { /*Library names - no hljs equivalent, just black text*/
    color: #000;
    font-weight: normal;
}



